bin/*
bin
lib/daemons/data/*
lib/data/*
lib/domains/gurba/data
lib/domains/required/data
lib/domains/nokicliffs/data
lib/domains/nokicliffs/logs
lib/doc/lpc/*
lib/doc/dgd/*
lib/doc/kfun
lib/kernel/daemons/data/*
lib/sys/daemons/data/*
lib/sys/data/*
lib/wiz/*
lib/logs/*
lib/tmp/*
src/*
tmp/*
backups/*
dump
dump.old
mud.dgd
hydra.dgd
lib/kernel/include/float.h
lib/kernel/include/kfun.h
lib/kernel/include/limits.h
lib/kernel/include/status.h
lib/kernel/include/trace.h
lib/kernel/include/type.h
lib/kernel/include/local_config.h
lib/kernel/include/auto_config.h
lib/kernel/include/auto_config.h.previous
