bin/*
lib/daemons/data/*
lib/data/*
lib/domains/gurba/data
lib/doc/lpc/*
lib/kernel/daemons/data/*
lib/sys/daemons/data/*
lib/sys/data/*
lib/wiz/*
lib/logs/*
lib/tmp/*
src/*
tmp/*
dump
dump.old
mud.dgd
hydra.dgd
lib/kernel/include/float.h
lib/kernel/include/kfun.h
lib/kernel/include/limits.h
lib/kernel/include/mudname.h
lib/kernel/include/status.h
lib/kernel/include/trace.h
lib/kernel/include/type.h

