Brief installation instructions
-------------------------------

Please check the doc/ directory for more information.

1. Using the installer script:

  Unpack the distribution into a directory
  then cd to this directory and type:

    scripts/installer

  This will compile the driver, write a configuration
  file and update an include file to reflect the name
  of your mud.

  Review gurba.dgd and change the telnet port
  number if so desired.

  Now, type 

    bin/driver gurba.dgd

  If all went well, you can now connect to the telnet port 
  mentioned in the gurba.dgd config file.

2. Doing it yourself:

  - Unpack the distribution to a directory and cd to this
    directory
  - cd lib/kernel/include
  - cp mudname.h.default mudname.h
  - edit the mudname.h file and change the mudname
  - cd ../../../
  - 1. Copy the DGD driver of your choice to bin/driver
    or
    2. cd contrib/DGD/src && make clean && make && make install && cd ../../../
  - Use either net.dgd or mud.dgd depending on if you are
    using the network package, make sure to edit it to
    point to the directory where your mud is installed.
  - On DGD versions prior to 1.4 and not using the network package or the ansi
    patches, edit lib/kernel/include/std.h and remove the
    #define SYS_COLOR
    line.
  
  You should now have everything you need and can start the mud
  with:

    bin/driver <yourconfigfile>



The first character logging in will automatically get the
admin role, so be sure its you.

Aidil@Way of the Force
