There are a a couple of simple but important rules you must follow while
playing here. It is assumed that you have read and know the contents of all
the other help documents referenced herein. Here we, the 
administration, give you, the players, a lot of freedom to roleplay as you
choose. We also give you the power to do many things related to roleplaying. 
So if we find you abusing that freedom or that power, you can expect to be 
severely punished. However, if you're a player who follows the rules, then 
you have nothing to worry about.

Make sure to read the following documents:

help abuse 
	On bug abuse and similar issues.
help bugs
	On what you should do if you encounter a bug.
help multis
	On having multiple characters.
