There are a a couple of simple but important rules you must follow while
playing here. It is assumed that you have read and know the contents of all
the other help documents.

1. Do not abuse bugs in the game.  If you encounter a bug report it.
For more information on bugs type: help bugs

2. Do not abuse other players.  If we find out you are doing this,
you will no longer be able to come here.

3. Have fun.
